        div {
                padding:0px;
                margin:0px;
            }

            body {
                padding:0px;
                margin:auto;
                text-align:center;
                background-color:#eff5ed;
                background:url('leftmenu_bg.gif');
                padding-left:3px;
                overflow:scroll;
                overflow-x:hidden;
            }

            dl.bitem {
                clear:both;
                width:130px;
                margin:0px 0px 5px 12px;
                background:url('menunewbg.gif') repeat-x;
            }

            dl.bitem dt {
                height:25px;
                line-height:25px;
                padding-left:35px;
                cursor:pointer;
            }

            dl.bitem dt b {
                color:#4D6C2F;
            }

            dl.bitem dd {
                padding:3px 3px 3px 3px;
                background-color:#fff;
            }

            div.items {
                clear:both;
                padding:0px;
                height:0px;
            }

            .fllct {
                float:left;
                width:85px;
            }

            .flrct {
                padding-top:3px;
                float:left;
            }

            .sitemu li {
                padding:0px 0px 0px 18px;
                line-height:22px;
                background:url('arr4.gif') no-repeat 5px 9px;
            }

            ul {
                padding-top:3px;
            }

            li {
                height:22px;
            }

            a.mmac div
            {
                background:url('leftbg2.gif') no-repeat;
                height:37px!important;height:47px;
                padding:6px 4px 4px 10px;
                word-wrap: break-word;
                word-break : break-all;
                font-weight:bold;
                color:#325304;
            }

            a.mm div
            {
                background:url('leftmbg1.gif') no-repeat;
                height:37px!important;height:47px;
                padding:6px 4px 4px 10px;
                word-wrap: break-word;
                word-break : break-all;
                font-weight:bold;
                color:#475645;
                cursor:pointer;
            }

            a.mm:hover div
            {
                background:url('leftbg2.gif') no-repeat;
                color:#4F7632;
            }

            .mmf
            {
                height:1px;
                padding:5px 7px 5px 7px;
            }

            #mainct
            {
                padding-top:8px;background: url(idnbg1.gif) repeat-y;
            }